body {
    font-family: "JetBrains Mono", monospace;
    background-color: #000a1b;
    color: #ffffffea;
    margin: 0;
    padding: 0;
}
.title{
    max-width: 1000px;
    margin: 10px auto;
    padding: 10px;
    text-align: left;
    color: #cf6cfa;
}
.wrapper {
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #13192c;
    border-radius: 10px;
}
.category h2 {
    color: #00ff88;
    padding-top: 15px;
    padding-bottom: 15px;
}
.accordionn {
    cursor: pointer;
    margin: 0;
    display: flex;
    align-items: center;
    user-select: none;
}
.arrow {
    display: inline-block;
    margin-left: 5px;
    margin-right: 15px;
    transition: transform 0.2s ease;
}
.arrow.down {
    transform: rotate(90deg);
}
.category-content {
    display: none;
    margin-top: 10px;
}
.challenge {
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
    background-color: #2c2c44ad;
    padding: 40px;
    border: 1px solid #ffffff2f;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.download button {
    font-family: "JetBrains Mono", monospace;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #2e303757;
    border: solid 1px #7c3aed;
    color: #ffffffea;
    border-radius: 5px;
    cursor: pointer;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
}
.downloadicon {
    margin-right: 5px;
}
.moreBtn {
    margin-right:10px;
}

.checkFlag {
    margin-top:20px;
}
.checkFlag button {
    font-family: "JetBrains Mono", monospace;
    font-weight: bold;
    margin-top:20px;
    padding: 10px 15px;
    background-color: #7c3aed;
    color: white;
    border: solid 1px #7c3aed;
    border-radius: 5px;
    cursor: pointer;
}
.solnBtn {
    margin-top: 40px !important;
    background-color: #ffffff00 !important;
    border: solid 1px #7c3aed !important;
    color: #9364e6 !important;
}
.btnDisabled {
    opacity: 0.2 !important;
    cursor: not-allowed !important;
}
.inputDisabled {
    opacity: 0.7 !important;
    cursor: not-allowed !important;
}
.challName {
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #ffffffea;
    width: 100%;
    font-weight: bold;
    font-size: 26px !important;
    border-bottom: solid 1px #5555559d;
}
.checkFlag input {
    font-family: "JetBrains Mono", monospace;
    font-weight: bold;
    background-color: #28293e;
    color: #bdbbcc;
    padding: 11px;
    width: 400px;
    border-radius: 5px;
    border: solid 1px #080e21;
    margin-right:5px;
}
.popup {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 25px;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    display: none;
    z-index: 1000;
}
.popup.success {
    background-color: #28a745;
}
.popup.error {
    background-color: #dc3545;
}
.context {
    padding-top: 20px;
    padding-bottom: 20px;
}
.WIP {
    font-style: italic;
}
.WIP a {
    color: #7c3aed;
}
.repoLink {
    color: #7c3aed;
}


@media (max-width:600px) {
    body {
        padding: 15px !important;
    }
    .challenge {
        padding: 20px;
    }
    .checkFlag input {
        width: 90%;
        min-width:250px;
    }
    .challName {
        font-size: 22px !important;
    }
    .moreBtn2 {
        margin-top:0px !important;
    }
    .title {
        flex-direction: column !important;
        gap: 16px !important;
        align-items: flex-start !important;
        padding:20px;
        margin-top:20px;
    }
    .title img {
        max-width: 100px !important;
        max-height: 100px !important;
        flex: none !important;
    }
    .title > div {
        width: 100% !important;
        flex: none !important;
    }
}

.coolors {
    color: #000a1b;
    color: #080e21;
    color: #2c2c44;
    color: #28293e; /*input*/
    color: #a10e44;
    color: #00ff88;
    color: #7c3aed;
}